.post{
    padding-top: 3em;
    width: 100vw;
    height: 100vh;

}
.post>h1{
    margin-left: 2em;
}
h1{
    width: 8em;

}
.postgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Defines 3 columns of equal size */
    grid-template-rows: repeat(3, 1fr); /* Defines 3 rows of equal size */
    gap: 10px;
    height: 23em;
    width: 47em;
    margin-left: 3em;
}
h4{
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.postgrid div {

    padding: 10px; /* Adds padding to divs (optional) */
    text-align: center; /* Centers content within divs (optional) */
  }
.car{
    height: 4.5em;
    width: 4.5em;
}

.postgrid>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
div>h4{
    text-align: left;
}
div>h6{
text-align: left;
font-size: 0.8em;
font-weight: 400;
}

.about{
    position: absolute;
    top: 340%; /* Position vertically from the top */
    transform: translateY(-50%); 
    right: 0; 
    width: 20em;
    height: 23em;
    margin-right: 4em;
    text-align: left;
    
}
.about>h1{
    text-align: left;
    width: 9em;
}
.about>p{
    margin-top: 1em;
    font-size: 1.1em;
}
.about img{
    margin-top: 1.5em;
    height: 2em;
    width: 2em;
   background-color: black;
   margin-right: 0.2em;
}