@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{
  text-decoration: none !important;
  border: none !important;
}
.hero1 {
  background: #151515;
  opacity: 0.95;
  /* width: 100%; */
  height: 90vh;
}

.navbar2 {
  padding-top: 0.7em;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 2.2em;
  font-size: 1.15em;
  /* align-items: center; */
}
.navbar2 > a {
  color: #656565;
  text-decoration: none;
}

/* .navbar2>.dropdown-container>.a1{
    margin-right: 2em;
} */
.navbar2 > .dropdown-container > a {
  color: #656565;
  text-decoration: none;
}

.dropdown-trigger {
  /* Style the anchor tags (dropdown buttons) as desired */
  border: none;
  cursor: pointer; /* Indicate interactivity on hover */
  padding-bottom: 1.5em;
}
.navbar2 :hover {
  color: white;
  cursor: pointer;
}
.navbar2 > .dropdown-container :hover {
  color: white;
  cursor: pointer;
}
.dropdown-content {
  display: none; /* Initially hide the dropdown content */
  position: absolute;
  flex-direction: column; /* Position the content absolutely relative to the container */
  background-color: black;
  min-width: 120px;
  font-size: 1em;
  margin-top: 0.9em;
  padding: 1em 1em 1em 1em;
  /* margin-right: 30em; */
  /* min-height: 100px; */

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  z-index: 1; /* Ensure the dropdown appears above other elements */
}

.dropdown-content > a {
  color: #656565;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.dropdown-container:hover .dropdown-content {
  display: flex;
}

.dropdown-container {
  position: relative; /* Make the dropdown relative to its position */
  display: inline-block; /* Allow the dropdown to fit next to other content */
}

.frontImages {
  background: #151515;
  /* height: 200%; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  margin-top: 4em;
  /* transform: translateY(100%); */
  /* opacity: 0; */
  /* transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; */

  /* position: absolute; Absolute positioning for better control */
  bottom: 0; /* Position at the bottom of the viewport initially */
  left: 0; /* Align to the left side of the viewport */
  width: 100%; /* Make the div full width */
  height: auto; /* Adjust height as needed */
  transform: translateY(100%); /* Initially translate off-screen (100% below viewport) */
  opacity: 0; /* Start with transparent */
  transition: transform 1s ease-in-out, opacity 0.7s ease-in-out;
}

/* .frontImages>a{
  text-decoration: none;
} */

.frontImages.visible {
  transform: translateY(0); 
  opacity: 1; 
}

.frontImages1 {
  /* background: #151515; */
  opacity: 0.9;
  display: flex;
  height: 34em;
  justify-content: center;
  /* margin-top: 5em; */
}
.frontImages1:hover {
  opacity: 0.55;
  transition: opacity 0.3s ease-in-out;
}
.frontImages1 > a {
  height: 34em;
  /* border:none; */
}

.frontImages1 > a > img {
  height: 34em;
  width: 44em;
}

.frontImages2 {
  /* background: #151515; */
  opacity: 0.9;
  height: 34em;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* margin-top: 5em; */
}

.image2 {
  opacity: 0.95;
}

.image2:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.image3 {
  opacity: 0.9;
}

.image3:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.frontImages2 > a {
  height: 17em;
  border: none;
}
.frontImages2 > a > img {
  height: 17em;
  width: 22em;
}

.music{
  position:relative;
  height: 1.5em;
  width: 3.9em;
  /* padding: 1em; */
  font-size: 1em;
  margin-top: -17em;
  margin-left: 1.5em;
  background: #01AEF0;
  z-index: 100;
  text-decoration: none !important;
  border: none !important;
  /* border-bottom: 0; */
}
.music>h3{
  color: white;
  text-decoration: none;
  padding: 0.2em 1.4em 0em 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  
  /* border-bottom: 4px solid black; */
}

.frontImages1>a>h1{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
  width: 15em;
  margin-left: 0.8em;
}
.doggo1{
 display: flex;
 align-items: center;
 width: 20em;
 margin-left: 1.5em;
 margin-top: -1em;
}
.doggo1>h3{
  margin-top: 0.2em;
  padding-top: 0.6em;
  margin-left: 0.8em;
  text-decoration: none;
  color: #cecece;
  font-size: 1.15em;
}

.doggo1>img{
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.doggo1>h3:hover{
  color: white;
}


.management{
  position:relative;
  height: 1.5em;
  width: 8.8em;
  /* padding: 1em; */
  font-size: 1em;
  margin-top: -13em;
  margin-left: 1.5em;
  background: #679A23;
  z-index: 100;
  text-decoration: none;
  /* border-bottom: 0; */
}

.management>h3{
  color: white;
  text-decoration: none;
  padding: 0.2em 1.4em 0em 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  /* border-bottom: 4px solid black; */
}

.frontImages2>a>h1{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
  width: 11.5em;
  font-size: 1.75em;
  margin-left: 0.8em;
}

.lifestyle{
  position:relative;
  height: 1.5em;
  width: 8.8em;
  /* padding: 1em; */
  font-size: 1em;
  margin-top: -12em;
  margin-left: 1.5em;
  background: #679A23;
  z-index: 100;
  text-decoration: none;
  /* border-bottom: 0; */
}

.lifestyle>h3{
  color: white;
  text-decoration: none;
  padding: 0.2em 1.4em 0em 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  /* border-bottom: 4px solid black; */
}

.frontImages2>a>h1{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
  width: 11.5em;
  font-size: 1.75em;
  margin-left: 0.8em;
}

.doggo2{
  display: flex;
  align-items: center;
  width: 20em;
  margin-left: 1.5em;
  margin-top: -1em;
 }
 .doggo2>h3{
   margin-top: 0.2em;
   padding-top: 0.6em;
   margin-left: -0.1em;
   text-decoration: none;
   color: #adacac;
   font-size: 1.15em;
 }
 
 
.doggo2>h3:hover{
  color: white;
}