@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

.nav1{
    background: #151515;
    opacity: .95;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 3.5em 0.1em 3.5em;
}

.socialMedia >a > img{
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}


.name>a{
    color: white;
    font-family: "Playwrite NG Modern", cursive;
    font-size:2em;
    font-weight: bolder;
    text-decoration: none;
    
}

.searchBar>a{
    display: flex;
    align-items: center;
    color: white;
    font-family: "metropolis-semibold", sans-serif; 
    gap: 0.5em;
    text-decoration: none;

}
.searchIcon{
    height: 2.15em;
    width: 2.15em;

}

@media (max-width:645px){
    .nav1{
        background: #151515;
        opacity: .95;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1.4em 0 1.4em;
    }
    .search{
        font-size: 0.75em;
        padding-top: 0.8em;
    }
    .searchIcon{
        height: 1.8em;
        width: 1.8em;
    }

    .socialMedia{
        background-image: url("../Assets/icons8-menu-50.png");
        display: none;
    }
    .name{
        color: white;
        font-family: "Playwrite NG Modern", cursive;
        font-size:1.2em;
        font-weight: bolder;
    }

}


